# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

### VisualStudioCode ###
**/.vscode/**
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history
