[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-extensions = "*"
django-sortedm2m = "*"
django-ordered-model = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
psycopg2 = "*"
docx2python = "*"
lxml = "*"
odfpy = "*"
gunicorn = "*"
django-filter = "*"
django-cors-headers = "*"

[dev-packages]
python-lorem = "*"
faker = "*"
requests = "*"
drf-spectacular = "*"

[requires]
python_version = "3.9"
