@import "~/assets/scss/custom_bulma_core.scss";

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
$badge-height: 16px;
$badge-padding: 0.05rem 0.15rem;
$badge-font-size: 0.7rem;
@import "~@creativebulma/bulma-badge/src/sass/index.sass";
//@import "../../node_modules/@creativebulma/bulma-badge/src/sass/index.sass"

// Responsive Menu Tabs
@media screen and (max-width: 768px) {
  li:not(.is-active) > a > span:not(.icon) {
    visibility: hidden;
    position: absolute;
  }

  nav.tabs li:not(.is-active) {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 1;
    flex-shrink: 1;
  }

  .tabs .icon {
    margin-left: 0.5em;
  }
}

.tabs li {
  transition: flex-grow 1s ease;
}

// Custom card header rounded
.card-header {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.sub-title {
  background-color: $primary;
}
.sub-title .card-header-title {
  color: white;
  text-transform: uppercase;
}

// Characteristic colors
$characteristic-litteraire: #e6ccb2;
$characteristic-genre: #fec5bb;
$characteristic-langue: #74c69d;
$characteristic-warning: #fcbf49;
$characteristic-rating: #e0aaff;
$characteristic-epoque: #4a4e69;
$characteristic-personnage: #1d3557;
$characteristic-relation: #a8dadc;

.characteristic-bg-litteraire {
  background: $characteristic-litteraire !important;
}
.characteristic-bg-genre {
  background: $characteristic-genre !important;
}
.characteristic-bg-langue {
  background: $characteristic-langue !important;
}
.characteristic-bg-warning {
  /*background: #e63946 !important;*/
  background: $characteristic-warning !important;
}
.characteristic-bg-rating {
  background: $characteristic-rating !important;
}
.characteristic-bg-epoque {
  background: $characteristic-epoque !important;
  color: whitesmoke !important;
}
.characteristic-bg-personnage {
  background: $characteristic-personnage !important;
  color: whitesmoke !important;
}
.characteristic-bg-relation {
  background: $characteristic-relation !important;
}

.characteristic-bg-excluded {
  background: #e63946 !important;
  color: whitesmoke !important;
}

// Fix FontAwesome 6 
/*.icon svg { width: 1em; height: 1em; max-width: 80%; max-height: 80%; }*/