// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set scrolling-y to auto
$body-overflow-y: auto;

// Set your colors
$primary: #42162b;
//$primary-light: findLightColor($primary);
$primary-light: #8f5a74;
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$buttons_menus_links_background: #f07800;
$buttons_menus_links_foreground: #ffffff;

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
  (
    "white": (
      $white,
      $black,
    ),
    "black": (
      $black,
      $white,
    ),
    "light": (
      $light,
      $light-invert,
    ),
    "dark": (
      $dark,
      $dark-invert,
    ),
    "primary": (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark,
    ),
    "link": (
      $link,
      $link-invert,
      $link-light,
      $link-dark,
    ),
    "info": (
      $info,
      $info-invert,
      $info-light,
      $info-dark,
    ),
    "success": (
      $success,
      $success-invert,
      $success-light,
      $success-dark,
    ),
    "warning": (
      $warning,
      $warning-invert,
      $warning-light,
      $warning-dark,
    ),
    "danger": (
      $danger,
      $danger-invert,
      $danger-light,
      $danger-dark,
    ),
  ),
  $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Buttons
$button-color: $buttons_menus_links_foreground;
$button-background-color: $buttons_menus_links_background;
$button-border-color: $buttons_menus_links_background;

// Box
$box-radius: 0px;

// Navbar
$navbar-background-color: $primary;
$navbar-item-color: $buttons_menus_links_foreground;
$navbar-item-hover-color: $buttons_menus_links_foreground;
$navbar-item-hover-background-color: $buttons_menus_links_background;
$navbar-dropdown-background-color: $buttons_menus_links_background;
$navbar-dropdown-arrow: $buttons_menus_links_foreground;
$navbar-item-active-color: $buttons_menus_links_foreground;

// Footer
$footer-background-color: $primary;
$footer-color: $buttons_menus_links_foreground;
$footer-padding: 0rem 0rem 0rem 0rem;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
$badge-height: 16px;
$badge-padding: 0.05rem 0.15rem;
$badge-font-size: 0.7rem;
@import "~@creativebulma/bulma-badge/src/sass/index.sass";
//@import "../../node_modules/@creativebulma/bulma-badge/src/sass/index.sass"

// Responsive Menu Tabs
@media screen and (max-width: 768px) {
  li:not(.is-active) > a > span:not(.icon) {
    visibility: hidden;
    position: absolute;
  }

  nav.tabs li:not(.is-active) {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 1;
    flex-shrink: 1;
  }

  .tabs .icon {
    margin-left: 0.5em;
  }
}

.tabs li {
  transition: flex-grow 1s ease;
}

// Card Header Rounded
.card-header {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

// Characteristic colors
$characteristic-litteraire: #e6ccb2;
$characteristic-genre: #fec5bb;
$characteristic-langue: #74c69d;
$characteristic-warning: #fcbf49;
$characteristic-rating: #e0aaff;
$characteristic-epoque: #4a4e69;
$characteristic-personnage: #1d3557;
$characteristic-relation: #a8dadc;

.characteristic-bg-litteraire {
  background: $characteristic-litteraire !important;
}
.characteristic-bg-genre {
  background: $characteristic-genre !important;
}
.characteristic-bg-langue {
  background: $characteristic-langue !important;
}
.characteristic-bg-warning {
  /*background: #e63946 !important;*/
  background: $characteristic-warning !important;
}
.characteristic-bg-rating {
  background: $characteristic-rating !important;
}
.characteristic-bg-epoque {
  background: $characteristic-epoque !important;
  color: whitesmoke !important;
}
.characteristic-bg-personnage {
  background: $characteristic-personnage !important;
  color: whitesmoke !important;
}
.characteristic-bg-relation {
  background: $characteristic-relation !important;
}

.characteristic-bg-excluded {
  background: #e63946 !important;
  color: whitesmoke !important;
}

// Fix FontAwesome 6 
/*.icon svg { width: 1em; height: 1em; max-width: 80%; max-height: 80%; }*/